<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to the Python Bank</h1>
    </header>
    <h2>Need to create a account?... <a href="signup.html">Create a account here</a></h2>
   <h2>Returning customer?... <a href="login.html">Please login here</a></h2>
    
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
